extends layout

block content
  h1 Search Results - Diary

  .container-fluid
    .row
      if results && results.length > 0
        each item in results
          div.col-sm-2(onclick=`buy('${item._id}')`)
            h3 #{item.diary_name}
            p Year: #{item.year}
            p Inventor: #{item.author}
      else
        p No diary entries found.

  a(href='/') Back to Home

  script.
    function buy(index) {
      alert(You purchased item ${index});
    }
