extends layout
 
block content
  h1= title
  h1 Ashwith Sai Anishetty
 
 
  -
    var results = [
      {diary_name: 'Travel Diary', author: 'Alice', year: 2018 },
      {diary_name: 'Nature Observations',author: 'Bob', year: 2020 },
      {diary_name: 'Recipe Book', author: 'Carla', yea: 2015 }
    ];

  .container-fluid
 
    .row
      each diary, index  in results
        .col-sm-2
          h3 #{diary.diary_name}
          p Type: #{diary.author}
          p Year Made: #{diary.year}
 
           // Button that calls buy() function with the index of the diary
          button(type="button", class="btn btn-outline-success", onclick=`buy(${index +1})`) Purchase
 
  // Script to define the buy() function
  script.
    function buy(index) {
      alert(`You purchased item ${index}`);
    }
    var express = require('express');
 
 