extends layout

block content
  h1= title
    - let diaryid = toShow._id
    - let diary_name = toShow.diary_name
    - let author = toShow.author
    - let year = toShow.year
    - let actionid = "/resource/diary/" + diaryid
    script.
      let actionid = "#{actionid}"
    div
      div.row
        div(class='diaryAttr mr-3') diary ID is:
        div #{diaryid}
      div.row
        div(class='diaryAttr mr-3') diary name is:
        div #{diary_name}
      div.row
        div(class='diaryAttr mr-3') diary author is:
        div #{author}
      div.row
        div(class='diaryAttr mr-3') diary year is:
        div #{year}
      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the diary collection
      window.location.href = '/diary';
    }

  script.
    function deleteOnid() {
      console.log("starting delete");
      // Delete request
      fetch(actionid, {
        method: 'DELETE' // No body needed for delete
      })
      .then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      })
      .then((body) => {
        alert("Delete succeeded");
        window.location.href = '/diary';
        // TODO handle body
      })
      .catch((error) => {
        // TODO handle error
        alert("Delete failed: " + error);
      });
    }
