extends layout

block content
  h1= title
  - let diaryid = toShow._id
  - let diary_name = toShow.dairy_name 
  - let author = toShow.author 
  - let year = toShow.year

  div.row(class='mb-2')
    div.mr-1 ID is
    div #{diaryid}

  - let actionid = "/resource/diary/" + diaryid

  form(id='diaryForm', action=actionid, method="PUT")
    div.form-group
      label.diaryAttr(for='diary_name') diary name
      input#diary_name(type='text', name='diary_name', value=diary_name)

    div.form-group
      label.diaryAttr(for='author') diary author
      input#author(type='text', name='author', value=author)

    div.form-group
      label.diaryAttr(for='year') diary year
      input#year(type='number', name='year', value=year)

    input(type="submit")

  script.
    document.forms['diaryForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO: do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeeded");
        // TODO: handle body
      }).catch((error) => {
        // TODO: handle error
        alert("Update failed " + error);
      });
    });
